[Unit]
Description=puma-service
After=network.target

[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/local/bin/puma -C /home/appuser/reddit/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target
